.footer {
    display: flex;
    justify-content: end;
    padding: 20px;
    background: rgb(245,222,179);
    background: linear-gradient(90deg, rgba(245,222,179,1) 0%, rgba(255,214,138,1) 42%, rgba(255,251,242,1) 100%);
}
.footer .footer_social {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.footer .footer__link {
    cursor: pointer;
    text-decoration: none ;
    width: 50px;
}

.footer .footer__link:hover path {
    transition: all 0.3s;
    fill: var(--hover-color);
}


