.promo {
    background: rgb(245,222,179);
    background: linear-gradient(90deg, rgba(245,222,179,1) 0%, rgba(255,214,138,1) 42%, rgba(255,251,242,1) 100%);
    padding: 15% 0 10% 0;
}
.promo .promo__wrapper {
    display: flex;
    align-items: start;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.promo .promo__subtitle {
    padding-left: 10px;
    z-index: 2;
    position: relative;
}
.promo .promo__subtitle:before {
    content:'';
    position: absolute;
    z-index: -1;
    top: -25%;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: var(--main-color);
}
.promo .promo__title {
    max-width: 545px;
    margin: 10px 0 0 20px;
}
.promo .promo__btns {
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    animation-name: show_btn;
}
.promo .promo__link {
    text-decoration: none;
    padding: 12px 25px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.promo .promo__link:hover {
    transition: all 0.3s;
    color: #000000;
    background: var(--hover-color)
}
.promo .promo__photo {
    margin-top: -50px;
    box-shadow: 70px -40px  rgba(253, 191, 55, .3);
}
.promo .promo__img {
    border-radius: 10px;
    max-height: 500px;
    min-width: 300px;
}
@keyframes show_btn {
    0% {
        margin: 40px 0 0 -100px;
    }

    50%{
        margin: 40px 0 0  65%;
    }

    70%{
        margin: 40px 0 0  55%;
    }
    100% {
        margin: 40px 0 0  65%;
    }
}

 


