.promo {
    height: 70vh;
    position: relative;
    background: rgb(85,207,255);
    background: linear-gradient(90deg, rgba(85,207,255,1) 21%, rgba(58,154,231,1) 68%);
    padding-top: 15%;
}

.promo .promo__wrapper{
    display: flex;
    align-items: start;
    justify-content:space-around ;
}

.promo .promo__subtitle{
    padding-left: 10px;
    z-index: 2;
    position: relative;
    
}

.promo .promo__subtitle:before{
    content:'';
    position: absolute;
    z-index: -1;
    top: -25%;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #FFA501;
}

.promo .promo__title {
    width: 535px;
    margin-top: 10px;
}

.promo .promo__btns {
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    animation-name: show_btn;
}
  
.promo .promo__btns .promo__link {
    padding: 12px 25px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    background: #FFA501;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.promo .promo__btns .promo__link:hover {
    text-decoration: none;
    color: #000000;
    background:  #fdbf37
}

.promo__photo {
    margin-top: -50px;
    box-shadow: 70px -40px  rgba(253, 191, 55, .3);
}
.promo__photo .promo__img {
    border-radius: 10px;
    max-height: 500px;
    min-width: 300px;
}

@keyframes show_btn {
    0% {
        margin: 40px 0 0 -100px;
    }

    50%{
        margin: 40px 0 0  75%;
    }

    70%{
        margin: 40px 0 0  55%;
    }
    100% {
        margin: 40px 0 0  75%;
    }
}

 


