.skills {
    padding: 30px 0 100px 0;
}
.skills .skills__wrap {
    padding-left: 40px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-auto-rows: minmax(70px,auto);
    column-gap: 20px;
    row-gap: 25px;
}
.skills .title_fz16 {
    margin-bottom: -6px;
    padding-left: 12px;
    position: relative;
    
}
.skills .title_fz16:after {
    content:'';
    position: absolute;
    z-index: -1;
    top: -25%;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #FFA501;
}
.skills .skills__ratings .skills__ratings-interest {
    display: none;
}
.skills .skills__ratings .skills__ratings-line {
    margin-top: 20px;
    width: 100%;
    height: 14px;
    background: #E8E4DE;
    border-radius: 4px;
    grid-column: 1/3;
   
}
.skills .skills__ratings .skills__ratings-line span {
    display: block;
    background: #FFA501;
    height: 100%;
    border-radius: 4px;
}